body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #012169;
    color: #f2f7f2;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #5f5f5f;
}

    nav ul {
        list-style: none;
        padding: 0;
    }

        nav ul li {
            display: inline;
            margin-right: 20px;
        }

    nav a {
        text-decoration: none;
        color: #f2f7f2;
    }

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #5f5f5f;
    color: #f2f7f2;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}


/*Class Styles*/

.linkCleanHeader {
    text-decoration: none;
    color: #fff;
}

.linkClean {
    text-decoration: none;
}

.imgHome {
    border-radius: 10px;
    width: 90%;
    aspect-ratio: 16/9;
}

.imgHomeFooter {
    color: #7a7a7a;
    padding: 5px auto;
    text-align: center;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

